* {
  font-family: "Inconsolata", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.bout {
  background-color: rgb(10, 6, 6);
  color: white;
  border: none;
}
.bout a {
  text-decoration: none;
}
.bout:hover {
  background-color: white;
  color: grey;
  border: none;
}

.nav-link a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #131515;
  height: 70px;
  text-align: center;
}
ol {
  font-size: 16px;
}
a.logo {
  font-size: 20px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  text-decoration: none;
}
/* .navbar {
} */

li {
  display: inline;
}

li.nav-links {
  display: flex;
}
.headers {
  font-size: 50px;
  padding-top: 35px;
}
.about_para {
  padding-top: 30px;
}
.link {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px 17px;
}

h1,
h2 {
  text-align: center;
  font-size: 2rem;
  font-family: monospace;
  color: white;
}
h3 {
  font-size: 12px;
}
p.about_para {
  font-size: 16px;
  font-family: monospace;
}
button {
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  color: antiquewhite;
  text-decoration: solid;
  color: black;
  margin: 14px 15px;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
}

#landing {
  background-image: url("background.jpg");
  background-size: cover;
  text-align: center;
  min-height: 100vh;
}

#about {
  background-color: black;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100%;
  padding-bottom: 300px;
  color: white;
}

.about-img img {
  justify-self: flex-start;
  align-self: flex-start;
  width: 400px;
  height: 600px;
  margin-top: 50px;
  border: 5px solid white;
  border-radius: 10px;
}
.about-txt {
  width: 400px;
  padding: 50px;
}
.aboutblock {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.testimonial-la {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.aboutblock h3 {
  text-align: center;
  font-size: 15px;
}
h4 {
  font-size: 15px;
  font-family: monospace;
}
.about {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  padding: 5%;
}
.layout {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
/* ol {
  font-size: 15px;
  font-family: monospace;
  font-style: italic;
  font-weight: 100px;
} */
.fa-brands {
  font-size: 100px;
  color: white;
}
#Icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 200px;
  align-items: center;
}

.fa-brands:hover {
  color: white;
}
.act-test {
  padding: 40px;
}
.testim {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
i {
  width: 200px;
  height: 200px;
}

.about-img {
  width: 350px;
  height: 300px;

  background-color: black;
}
.test-img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
}
.testi {
  font-size: 40px;
}
.test {
  padding-top: 20px;
}
.cam {
  font-size: 15px;
}
.tris {
  font-size: 15px;
}
.yas {
  font-size: 15px;
}
.sun {
  font-size: 15px;
  width: 200px;
  text-align: center;
}
.res {
  font-size: 40px;
}
.summ {
  font-size: 35px;
  padding-bottom: 20px;
}

.edu {
  font-size: 35px;
  font-family: monospace;
  padding-bottom: 20px;
}

.landing-kop {
  color: white;
  font-size: 60px;
}
.blink-hard {
  animation: pulse 4s infinite;
}
@keyframes pulse {
  50% {
    opacity: 0;
  }
}
#contact {
  padding-top: 100px;
  font-size: 20px;
  padding-bottom: 100px;
  border: 1px solid black;
}
form {
  padding-top: 100px;
  margin-right: 20px;
  width: 500px;
  margin: auto;
}
#contact h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  font-family: sans-serif;
}
.cnt {
  text-align: center;
}
.label {
  display: flex;
  flex-direction: column;
  color: black;
  font-family: sans-serif;
  margin-bottom: 60px;
}

input {
  width: 500px;
  height: 25px;
}
/* .submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
  width: 100%;
} */
.resume {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  height: 150vh;
  justify-content: space-evenly;
  color: white;
}
.landing_info {
  padding-top: 300px;
}
.work {
  width: 400px;
}
.eduacation {
  width: 400px;
}
.l {
  padding-top: 50px;
}
.test-head {
  margin-bottom: 100px;
  margin-bottom: 50px;
  font-size: 35px;
  font-family: monospace;
}

svg {
  width: 100px;
  height: 100px;
  margin: 50px;
}

.about-txt {
  font-family: monospace;
  font-size: 20px;
}
h3.sum {
  font-size: 15px;
  font-family: monospace;
}
h3 {
  font-size: 15px;
  font-family: monospace;
}
/* h1 */
#skills {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

#skills button {
  background-color: black;
  border: none;
}

div.modal-content .container {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

button img {
  border: 5px solid white;
  border-radius: 10px;
}
#testimonials {
  background-color: black;
  color: white;
  border: 5px solid white;
  height: 100vh;
}
h2.cnt {
  font-size: 35px;
  font-family: monospace;
}

.pro_images {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  color: white;
}

.submit {
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
  border: none;
}
.submit:hover {
  background-color: white;
  color: rgb(75, 28, 193);
  border: none;
}
#resume {
  background-color: black;
  border: 1px solid white;
}
#projects {
  background-color: grey;
  color: white;
  border: 1px solid grey;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact {
  background-color: rgb(64, 61, 57);
  color: black;
  border: 1px solid white;
  
}

}
/* GRID STYLING HERE */
body {
  display: grid;
  grid-template-areas:
    "landing landing landing"
    "about about about"
    "testimonials testimonials testimonials"
    "skills skills skills"
    "resume resume resume"
    "projects projects projects"
    "contact contact contact";
}

@media screen and (max-width: 600px) {
  body {
    grid-template-areas:
      "landing"
      "about"
      "testimonials"
      "skills"
      "resume"
      "projects"
      "contact";
  }
}

#landing {
  grid-area: landing;
}
#about {
  grid-area: about;
}
#testimonials {
  grid-area: testimonials;
}
#skills {
  grid-area: skills;
}
#resume {
  grid-area: resume;
}
#projects {
  grid-area: projects;
}
#contact {
  grid-area: contact;
}
h2.test {
  font-size: 20px;
  font-family: monospace;
}

div.skills {
  font-size: 3rem;
}

#skills {
  width: 100%;
  height: 80vh;
  border: 1px solid white;
}

.skills div.row {
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}
.intro {
  text-align: center;
}
.intro h1 {
  font-size: 3rem;
  margin-top: 50px;
}
.skills div.progress-title {
  display: flex;
  justify-content: space-between;
}

.carousel-item {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  height: 80vh;
}

.carousel-caption {
  margin-bottom: 10%;
}

section#skills {
  padding: 80px;
}
#cookie-text {
  text-align: center;
  font-size: 35px;
}

i.fa-brands.fa-github {
    color: black;
    height: 15px;
    width: 15px;
